@model IEnumerable<ExertSite.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Admin.cshtml";
    ViewData["pageTitle"] = "Contacts";

}

<div class="card container-fluid">

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactSmallText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactSmallText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
