@model IEnumerable<ExertSite.Models.Clients>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Admin.cshtml";
    ViewData["pageTitle"] = "Clients";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid card">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(SiteOperations.ClientFolder+item.ClientImage)" class="d-flex w-25" asp-append-version="true" />

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
