@model ExertSite.Models.Member

@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_Admin.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberSmallText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberSmallText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberTwitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberTwitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberFacebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberFacebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberLinkedin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberLinkedin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
