@model ExertSite.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_Admin.cshtml";
    ViewData["pageTitle"] = "Projects";

}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
