@model IEnumerable<ExertSite.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialPersonImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialBgImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialPerson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialPersonImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialBgImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialPerson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestimonialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TestimonialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestimonialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
